page-popover-search-discover {
    ion-content{
        padding: 10px;
         .text-excel{
        color:color($colors, f-dark);
        text-align: left;
        font-size: $xxs;
     }
    }
   
 
}
