ion-alert {
    .alert-wrapper{
        width: 90% !important;
    }
    .alert-radio-group{
        max-height: 400px !important;
        min-height: 250px !important;
    }
    a {
        color: #0000a0 !important;
    }
}