<!--
  Generated template for the SecondMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title left>สำรวจราคาขายปลีก</ion-title>
  </ion-navbar>

  <ion-row class="bg-title">
    <ion-col>
      บันทึกการสำรวจ
    </ion-col>
  </ion-row>

</ion-header>


<ion-content padding>

  <div class="center-text-align">

    <h3 no-margin>{{storeDetails.storeName}}</h3>

  </div>

  <form class="form-text" [formGroup]="productBarcodeDetailsForm">

    <ion-row class="row-bottom">
      <ion-col>
        <ion-row class="type-input-option" [style.color]="util.updateThemeColor(2).dark"
          [style.background]="util.updateThemeColor(2).light">
          <div class="flex-all">
            <ion-item class="item-input-search" no-lines>
              <ion-input formControlName="barcodeId" placeholder="Barcode สินค้า" type="text"
                (ionChange)="getBarcodeSuggestion($event)" (blur)="blurInput($event)"></ion-input>
            </ion-item>
          </div>
          <div (tap)="getProductDetailsByBarcodeId()" class="btn-search">
            <span>
              <svg-icon src="assets/images/icon/search.svg"></svg-icon>
            </span>
          </div>
        </ion-row>

        <div>
          <div class="suggestion-container">
            <ion-list *ngIf="showBarcodeSuggestion">
              <ion-item *ngFor="let item of barcodeSuggestionList" (tap)="onClickBarcodeSuggestionItem(item)">
                {{ item }}
              </ion-item>
            </ion-list>
          </div>
        </div>

      </ion-col>
      <ion-col col-2 col-md-1 class="center-content">
        <button class="button-scan-bar" [style.background]="util.updateThemeColor(2).primary" (tap)="scanBarcode()">
          <ion-icon name="md-barcode"></ion-icon>
        </button>
      </ion-col>

      <div class="product-details-container" *ngIf="productDetails.length > 0">
        <ion-list class="product-details" radio-group (ionChange)="getModelProductSave($event)">
          <ion-item *ngFor="let item of productDetails">
            <ion-label>
              ยี่ห้อ: {{item.brandName}} <br />
              แบบ/รุ่น: {{item.modelDesc}} <br />
              ขนาด/หน่วย: {{item.packUnit}} <br />
            </ion-label>
            <ion-radio [value]="item" [checked]="productDetails.length == 1 ? true : false"></ion-radio>
          </ion-item>
        </ion-list>

        <span class="title"> ระบุราคาขายปลีก <span class="red-color">*</span></span>
        <ion-item class="price-input-container">
          <ion-input type="number" placeholder="0" formControlName="productPrice"></ion-input>
        </ion-item>
        <div class="save-btn-container">
          <button (tap)="clickSaveProductData(false)" class="bg-coral">บันทึก</button>
          <button (tap)="clickSaveProductData(true)" class="bg-fire">บันทึกและจบการทำงาน</button>
        </div>
      </div>


    </ion-row>

    <ion-label class="title-text-center">
      <span class="red-star">**</span>
      หมายเหตุ สินค้าที่ไม่ได้ขึ้นทะเบียน Barcode หมายถึง สินค้าที่ไม่มี Barcode บนภาชนะ</ion-label>

    <button class="button-text" ion-button full [style.background]="util.updateThemeColor(2).primary"
      (click)="toggleRegistedBarcode()">{{titleButton}}
    </button>

    <ion-list [hidden]="isRegistedBarcode" class="list-search-type search-products-container" no-margin>

      <ion-item>
        <ion-label class="title-text" stacked>กลุ่มสินค้า <span class="red-color">*</span></ion-label>
        <select-searchable placeholder="กรุณาเลือกกลุ่มสินค้า" class="type-selest-option bg-gray" item-content
          formControlName="groupId" [items]="productGroupList" itemValueField="key" itemTextField="value"
          (onChange)="onT3ChangeProductGroup($event.value.key)" [canSearch]="true" selected="true">
        </select-searchable>
      </ion-item>

      <ion-item>
        <ion-label class="title-text" stacked>กลุ่มประเภทสินค้า (เฉพาะ เบียร์,เบียร์(Brewpub), น้ำอัดลม)</ion-label>
        <select-searchable placeholder="สินค้าทุกประเภท" class="type-selest-option bg-gray" item-content
          formControlName="catId" [items]="productCategoryList" itemValueField="key" itemTextField="value"
          [canSearch]="true" selected="true" (onChange)="onT3ChangeCatId($event.value.key)">
        </select-searchable>
      </ion-item>

      <ion-item *ngIf="groupId == '13||LIQUOR'">
        <ion-label class="title-text" stacked>ดีกรี</ion-label>
        <ion-input type="text" formControlName="degree" placeholder=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="title-text" stacked>ขนาด</ion-label>
        <ion-input type="text" formControlName="sizeDesc" placeholder=""></ion-input>
      </ion-item>

      <ion-item *ngIf="groupId != '06||PRODUCT27' && groupId != '07||PRODUCT27'">
        <ion-label class="title-text" stacked>หน่วยบรรจุ</ion-label>
        <select-searchable placeholder="หน่วยบรรจุทุกประเภท" class="type-selest-option bg-gray" item-content
          formControlName="sizeUnit" [items]="sizeNameList" itemValueField="key" itemTextField="value"
          [canSearch]="true" selected="true" (onChange)="onT3ChangeSizeUnit($event.value.value)">
        </select-searchable>
      </ion-item>

      <ion-item>
        <ion-label class="title-text" stacked>ยี่ห้อหลัก,ยี่ห้อรอง,แบบรุ่น(รายละเอียดสินค้า) <span
            class="red-color">*</span></ion-label>
        <ion-input type="text" formControlName="productDesc" placeholder=""></ion-input>
      </ion-item>

      <div class="save-btn-container">
        <!-- <button (tap)="clickSaveProductData(false)" class="bg-coral">บันทึก</button>
        <button (tap)="clickSaveProductData(true)" class="bg-orange">บันทึกและจบการทำงาน</button> -->
        <button (tap)="searchProduct()" class="bg-coral">ค้นหา</button>
        <button (tap)="clearInputData()" class="bg-fire">ล้างข้อมูล</button>
        <button (tap)="endProcess()" class="bg-orange">จบการทำงาน</button>
      </div>

    </ion-list>
  </form>

</ion-content>